
.pagination {
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pages {
  display: block;
  padding: 2px;
  text-align: center;
  min-width: 32px;
  border: 1px solid #1f242a;
  color: white;
  cursor: pointer;
}

.selectedPage {
  padding: 2px;
  min-width: 32px;
  font-weight: bold;
  border: 1px solid #1f242a;
  color: white;
}

.btn {
  padding: 3px;
}

.prevEmptySpace {
  width: 46px;
}
