
.pagination {
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pages {
  padding: 2px;
  border: 1px solid #1f242a;
  cursor: pointer;
}

.selectedPage {
  padding: 2px;
  font-weight: bold;
  border: 1px solid #1f242a;
}

.btn {
  padding: 3px;
}
