.header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: h;
  background-color: #555ec3;
}

.header img {
  width: 50px;
}

.login {
  grid-area: h;
  font-size: 24px;
  text-decoration: none;
  color: #181818;
}