.nav {
  grid-area: n;
  background-color: #65c38f;
  padding: 10px 10px;
}

.item a {
  color: #1f242a;
  font-size: 24px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

.item a.activeLink {
  color: white;
}