.loginBlock {
  /*grid-area: h;*/
  /*float: right;*/
  font-family: Verdana, sans-serif;
  font-size: 12px;
  width: 100px;
}

.loginBlock a {
  color: #181818ff;
  text-decoration: none;
}

.formCommonError {
  padding: 5px;
  border: 1px solid red;
  color: red;

}